@import '../../../../styles/custom-styles/typography.scss';
@import '../../../../styles/custom-styles/breakpoints.scss';
@import '../../../../styles/custom-styles/spacing.scss';
@import '../../../../styles/custom-styles/colors.scss';

.container {
  @apply flex h-auto items-center justify-center;

  margin: 0 vwMobile(30);
  @media (min-width: $tablet) {
    margin: 0 vwDesktop(80);
  }
}

.content {
  padding-bottom: vwMobile(20);
  @media (min-width: $tablet) {
    padding-bottom: unset;
    margin-left: vwDesktop(180);
  }
}
