$burgundy: #730839;
$warmGrey: #dfdad2;
$black: #1a1919;
$white: #ffffff;
$accentGreen: #00373f;
$accentLightGreen: #c3dbc3;
$accentBlue: #1e3258;
$accentLightBlue: #acbbd3;
$accentRed: #b73d25;
$accentLightRed: #f9a88e;
$fontGray: #50555b;
$lightGray:#E5E6E7;
$extraLightGray:#F6F6F7;
$orange:#E77300;
$green:#919200;
$pink:#CB122D;
$blue:#0074C9;
