@font-face {
  font-family: 'Glamourn';
  src: url('../public/fonts/Glamourn.woff2') format('woff2'),
    url('../public/fonts/Glamourn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
