html,
body {
  @apply font-montserrat text-[16px] leading-[24px] tracking-normal text-black;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.h1 {
  @apply text-[20px] font-bold leading-[25px] tracking-normal text-darkGray md:text-[40px] md:leading-[45px] lg:text-[65px] lg:leading-[65px];
}
.h2 {
  @apply text-[12px] font-black leading-[35px] tracking-normal text-darkGray md:text-[28px] lg:text-[36px];
}
.h3 {
  @apply text-[20px] font-bold leading-[25px] tracking-normal text-darkGray lg:text-[30px] lg:leading-[35px];
}
.h4 {
  @apply text-[12px] font-bold leading-[16px] tracking-normal text-darkGray xl:text-[20px] xl:leading-[25px];
}

.h5 {
  @apply text-[10px] font-bold leading-[14px] tracking-normal text-darkGray xl:text-[18px] xl:leading-[25px];
}

.nav-buttons {
  @apply font-montserrat font-bold text-blue lg:text-[16px] xl:text-[20px];
}

/* Portable Text */
.rc {
  p,
  span,
  ol,
  ul,
  menu,
  li {
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: inherit;
    color: inherit;
  }

  ol,
  ul,
  menu {
    list-style: initial;
    margin: unset;
    padding-inline-start: 30px;
  }

  p {
    a {
      @apply text-black no-underline underline-offset-2 hover:underline;
      text-decoration-thickness: 1px;
    }
  }

  :is(h1, h2, h3, h4, h5, h6) + :is(p, ol, ul, menu) {
    @apply mt-[20px];
  }
  p + p,
  :is(ol, ul, menu) + p {
    @apply mt-[8px];
  }
}
