.form-control {
  @apply w-full;

  input[type="checkbox"] {
    @apply appearance-none bg-transparent border-black border focus:ring-0 rounded-none cursor-pointer;
    @apply text-[16px] leading-[24px] text-black;
    @apply inline-block w-[29px] h-[29px] mr-[12px];
    transition: all 0.5s ease;
  }
  input[type="checkbox"]:checked {
    @apply bg-blue-600;
    background-image: url("/svg/checkmark.svg");
    background-size: 50% 50%;
  }
}
