@import '../../../../styles/custom-styles/typography.scss';
@import '../../../../styles/custom-styles/breakpoints.scss';
@import '../../../../styles/custom-styles/spacing.scss';
@import '../../../../styles/custom-styles/colors.scss';

.buildingInfoContainer {
  @apply h-[100vh] w-[100vw] bg-white flex flex-col sm:flex-row overflow-y-scroll;
  .leftSectionContainer {
    @apply w-[100vw] sm:w-[50vw] flex items-center justify-center bg-cover bg-no-repeat;

    padding-top: vwMobile(40);
    @media (min-width: $tablet) {
      padding-top: unset;
    }

    .leftSectionContent {
      max-width: vwMobile(310);
      margin: vwMobile(80) 0;
      .featuresTitle {
        @apply font-glamourn text-navyBlue;
        font-weight: 400;
        font-size: vwMobile(32);
        line-height: vwMobile(35.2);
        margin-bottom: vwMobile(19);
        @media (min-width: $tablet) {
          font-weight: unset;
          font-size: vwDesktop(32);
          line-height: vwDesktop(35.2);
          margin-bottom: vwDesktop(19);
        }
      }

      .featuresUl {
        margin: vwMobile(15);
        padding: 0;
        .featuresItems {
          @apply font-monserrat text-copy;
          font-size: vwMobile(16);
          line-height: vwMobile(25.6);

          @media (min-width: $tablet) {
            font-weight: 300;
          }

          .featuresItemsText {
            font-weight: 500;
            margin-left: vwMobile(15);
            @media (min-width: $tablet) {
              letter-spacing: -0.03em;
              margin-left: vwDesktop(15);
            }
          }
          @media (min-width: $tablet) {
            font-size: vwDesktop(16);
            line-height: vwDesktop(25.6);
          }
        }
        li::marker {
          content: '•';
        }
        @media (min-width: $tablet) {
          margin: vwDesktop(15);
        }
      }

      .downloadButton {
        @apply flex items-center justify-center bg-navyBlue no-underline;
        height: vwMobile(55);
        width: vwMobile(280);
        margin-top: vwMobile(45);
        transition: all 2s;
        @media (min-width: $tablet) {
          height: vwDesktop(55);
          width: vwDesktop(307);
          margin-top: vwDesktop(28);
        }
        svg {
          transition: all 2s;
          path {
            transition: all 2s;
            @apply stroke-gold;
          }
        }
      }

      .downloadButton:hover {
        transition: all 2s;
        @apply bg-gold;
        svg {
          transition: all 2s;
          path {
            transition: all 2s;
            @apply stroke-navyBlue;
          }
        }
        .downloadButtonText {
          transition: all 2s;
          @apply text-navyBlue;
        }
      }

      .downloadButtonText {
        @apply uppercase font-tenorSans text-gold;
        transition: all 2s;
        font-size: vwMobile(16);
        line-height: vwMobile(21.2);
        margin-left: vwMobile(15);
        @media (min-width: $tablet) {
          font-size: vwDesktop(16);
          line-height: vwDesktop(21.2);
          margin-left: vwDesktop(15);
        }
      }
      @media (min-width: $tablet) {
        max-width: vwDesktop(472);
        margin: 0;
      }
    }
  }

  .rightSectionContainer {
    @apply w-[100vw] sm:w-[50vw] flex items-center justify-center;
    .rightSectionContent {
      width: vwMobile(310);
      margin: vwMobile(30) 0;

      @media (min-width: $tablet) {
        width: unset;
        max-width: vwMobile(280);
      }

      .rightSectionTitle {
        @apply font-tenorSans text-navyBlue uppercase font-normal;
        font-size: vwMobile(22);
        line-height: vwMobile(24.97);
        letter-spacing: vwMobile(2.2);
        margin-bottom: vwMobile(20);
        @media (min-width: $tablet) {
          font-size: vwDesktop(22);
          line-height: vwDesktop(29.15);
          letter-spacing: unset;
          margin-bottom: 0;
        }
      }
      .designFeatures {
        @apply grid grid-cols-2 sm:grid-cols-3;
        margin-top: vwDesktop(35);
        margin-bottom: vwDesktop(100);
        row-gap: vwDesktop(50);

        max-width: vwMobile(280);
        margin-left: auto;
        margin-right: auto;
        @media (min-width: $tablet) {
          max-width: unset;
          margin-left: unset;
          margin-right: unset;
        }

        .designFeaturesItem {
          @apply flex flex-col items-center;
          max-width: vwMobile(135);

          .itemNumber {
            @apply font-glamourn font-normal text-gold;
            font-size: vwMobile(26);
            line-height: vwMobile(28.6);
            @media (min-width: $tablet) {
              font-size: vwDesktop(26);
              line-height: vwDesktop(28.6);
            }
          }
          .itemUnit {
            @apply font-tenorSans text-gold;
            font-size: vwMobile(16);
            line-height: vwMobile(18.16);
            @media (min-width: $tablet) {
              font-size: vwDesktop(16);
              line-height: vwDesktop(18.16);
            }
          }
          .itemSubtitle {
            @apply font-monserrat text-copy text-center;
            font-size: vwMobile(12);
            line-height: vwMobile(15.9);
            @media (min-width: $tablet) {
              font-size: vwDesktop(12);
              line-height: vwDesktop(15.9);
            }
          }
          @media (min-width: $tablet) {
            max-width: vwDesktop(135);
          }
        }
      }
      .sustainability {
        .subtitle {
          @apply text-copy font-monserrat;
          font-size: vwMobile(12);
          line-height: vwMobile(15.9);
          @media (min-width: $tablet) {
            font-size: vwDesktop(18);
            line-height: vwDesktop(23.85);
            margin-top: vwDesktop(23);
          }
          .image {
            @apply flex justify-center;

            img {
              height: vwDesktop(80);
            }
          }
        }
        .images {
          @apply grid grid-cols-2 sm:grid-cols-4 justify-between;
          margin-top: vwMobile(40);
          row-gap: vwMobile(20);

          .imageBox {
            @apply flex flex-col justify-end items-center;
            .epigraph {
              @apply text-copy font-monserrat text-center;
              font-size: vwMobile(12);
              line-height: vwMobile(15.9);
              margin-top: vwMobile(10);
              @media (min-width: $tablet) {
                font-size: vwDesktop(12);
                line-height: vwDesktop(15.9);
                margin-top: vwDesktop(10);
              }
            }
            .image {
              @apply flex justify-center;
              max-height: vwMobile(80);
              width: vwMobile(80);
              @media (min-width: $tablet) {
                max-height: vwDesktop(80);
                width: vwDesktop(80);
              }
            }
          }
          @media (min-width: $tablet) {
            margin-top: vwDesktop(40);
            gap: vwDesktop(20);
          }
        }
      }
      @media (min-width: $tablet) {
        min-width: vwDesktop(515);
        margin: 0;
      }
    }
  }
}
